@model donatETH.Models.UserInfo

@using (Html.BeginForm("Donate", "Posts", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Address, "Ethereum Address:")
        @Html.TextBoxFor(m => m.Address, new { @class = "form-control", type = "text" })
    </div>
    <button type="submit" class="btn btn-primary">Donate</button>
}